.full{
	width: 1200px;
	max-width: 100%;
	margin: 0 auto;
}

.half{
	width: 50%;
	float: left;
}

.full:after{
	content: '';
    display: block;
	clear: both;
}

.quarter{
	width: 25%;
	float: left;
}

header{
	img{
		margin: 40px auto;
	}
}

#map{
	height: 400px;
	margin-bottom: 20px;
}

#contactDetails{
	h4,p,.sameLine,.closer{
		margin-top: 20px;
	}
	padding-bottom: 60px;
}

#links{
	margin-top: 40px;
	padding: 50px 0;
	li{
		padding: 5px 0;
	}
	h3{
		margin-bottom: 20px;
		font-size: 20px;
	}
	#third{
		margin-top: 40px;
	}
	#social{
		font-size: 40px;
		margin-bottom: 20px;
		li{
			margin-left: 10px;
		}
	}
}

footer{
	#copynotice{
		display: inline-block;
	}
	#payments{
		display: inline-block;
		float: right;
		li{
			padding: 5px;
		}
	}
}

input[type="text"], textarea, input[type="submit"]{
	font-size: 15px;
}
